/* BOTONES GENÉRICOS */
.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.625rem 1.25rem;
  border-radius: var(--radius-lg);
  font-weight: 600;
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn:active:not(:disabled) {
  transform: scale(0.95);
}

.btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn-primary {
  background-color: var(--color-primary);
  color: white;
}

.btn-primary:hover:not(:disabled) {
  background-color: var(--color-primary-hover);
  box-shadow: 0 10px 15px -3px rgba(5, 150, 105, 0.2);
}

.btn-secondary {
  background-color: var(--color-gray-100);
  color: var(--color-gray-700);
}

.btn-secondary:hover:not(:disabled) {
  background-color: var(--color-gray-200);
}

.btn-danger {
  background-color: var(--color-danger-light);
  color: var(--color-danger);
}

.btn-danger:hover:not(:disabled) {
  background-color: #fee2e2;
}

.btn-icon {
  padding: 0.5rem;
  border-radius: var(--radius-md);
  border: 2px solid ;
  background: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn-icon:hover:not(:disabled) {
    background-color: var(--color-gray-100);
}

/* ICONOS */
.icon-sm {
  width: .5rem;
  height: .5rem;
}

.icon-md {
  width: 1rem;
  height: 1rem;
}

.icon-lg {
  width: 1.5rem;
  height: 1.5rem;
}

/* SPINNERS */
.spinner-sm {
  width: 16px;
  height: 16px;
}

.spinner-md {
  width: 24px;
  height: 24px;
}

.spinner {
  border-radius: 50%;
  animation: spin 1s linear infinite;
}